@model IEnumerable<ProyectoFinal.Clases.Consultas.SombreroCONS>

@{
    ViewData["Title"] = "Index";
    int modelo = ViewBag.modelo == null ? 0 : ViewBag.modelo;
    int clase = ViewBag.clase == null ? 0 : ViewBag.clase;
    int talla = ViewBag.talla == null ? 0 : ViewBag.talla;
}


<head>
    <style>
        select#modelo {
            padding: 0 0 0 8px;
            width: 151px;
        }

        select#clase {
            padding: 0 0 0 8px;
            width: 151px;
        }

        select#talla {
            padding: 0 0 0 8px;
            width: 151px;
        }

        .Contenedor_Adentro {
            margin: -54px 154px;
        }

        .Contenedor_Adentro2 {
            margin: 0px 306px;
        }

        .Contenedor_Adentro3 {
            margin: -54px 457px;
        }

        .botones {
            margin: 20px 612px;
        }

        a.btn.btn-success {
            margin: 20px -612px;
        }

        form#formBuscar {
            border-style: solid;
            border-width: medium;
            padding: 21px 59px 1px;
            margin: 5px 2px 12px 1px;
            background-color: wheat;
        }

        p {
            margin: -57px -11px;
        }
        a.btn.btn-success {
            margin: 0px -2px;
            padding: 12px 12px -1px;
        }

        button.btn.btn-info {
            margin: -71px -2px 10px -134px;
        }

        button.btn.btn-secondary {
            margin: -71px -2px 10px -9px;
        }

        .Nuevo {
            margin: -24px 13px;
            color: #fff;
            background-color: #198754;
            border-color: #198754;
            padding: -1px 7px 9px 1px;
        }

        form#formBuscar {
            border-style: solid;
            border-width: medium;
            padding: 32px 72px 40px;
            margin: 8px 2px 22px 1px;
            background-color: wheat;
        }

        .h4Editar {
            font-family: 'Slabo 27px', serif;
            font-size: 46px;
            height: 29px;
            text-align: center;
        }
    </style>

</head>

<div class="Contenedor">
    <h4 class="h4Editar">Sombrero</h4>
    <hr />
<form asp-action="Index" method="post" class="form" id="formBuscar">
    <div class="form-group">
        <label class="form-label">Modelo:</label>
        <select asp-items="@ViewBag.modelos" class="form-select" id="modelo" name="idModelo"></select>
    </div>
    <div class="Contenedor_Adentro">
        <label class="form-label">Clase:</label>
        <select asp-items="@ViewBag.clases" class="form-select" id="clase" name="idClase"></select>
    </div>
    <div class="Contenedor_Adentro2">
        <label class="form-label">Talla:</label>
        <select asp-items="@ViewBag.tallas" class="form-select" id="talla" name="idTamTalla"></select>
    </div>
  <div class="botones">
        <button type="submit" class="btn btn-info">Filtrar</button>
        <button type="button" class="btn btn-secondary" onclick="limpiarSombrero()">Limpiar</button>
   
</form>
   <div class="Nuevo">

<p>
    <a asp-action="Create" class="Nuevo"> Nuevo </a>
</p>
    </div>
</div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomModelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomClase)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomTalla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tamTalla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.medFalda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personalizado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.idMaterial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomModelo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomClase)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nomTalla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tamTalla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.medFalda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personalizado)
                </td>
                <td>
                    <a class="btn btn-light" id="detalles" onclick="detalles(@item.id)">
                        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </a>
                    <a class="btn btn-warning" id="editar" onclick="editar(@item.id)">
                        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    </a>
                    <a class="btn btn-danger" id="eliminar" onclick="eliminar(@item.id)">
                        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-action="Detalles" id="formDetalles" method="post">
    <input type="hidden" name="id" id="idDetalles">
</form>
<form asp-action="Editar" id="formEditar" method="get">
    <input type="hidden" name="id" id="idEditar">
</form>
<form asp-action="Eliminar" id="formEliminar" method="post">
    <input type="hidden" name="id" id="idEliminar">
</form>
<script src="~/js/gestion.js"></script>
<script src="~/js/alerts.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById('modelo').value = @modelo
        document.getElementById('clase').value = @clase
        document.getElementById('talla').value = @talla
    })

    const eliminar = (id) => {
        const form = document.getElementById('formEliminar')
        document.getElementById('idEliminar').value = id
        confirmacion("Eliminar sombrero", "Desea eliminar el sombrer?", "Sombrero eliminado", form)
    }

    const limpiarSombrero = () => {
        document.getElementById('modelo').value = 0
        document.getElementById('clase').value = 0
        document.getElementById('talla').value = 0
        document.getElementById('formBuscar').submit()
    }
</script>