@model ProyectoFinal.Clases.Consultas.MaterialCONS

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>

<div>
    <h4>MaterialCONS</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.toquilla)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.toquilla)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.forro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.forro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.barbiquejo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.barbiquejo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.tafiretes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.tafiretes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ojitos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ojitos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.resorte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.resorte)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Editar", new { id = Model.id }) |
    <a asp-action="Index">Back to List</a>
</div>
