@model ProyectoFinal.Clases.Editar.MaterialEDIT

@{
    ViewData["Title"] = "Editar";
    List<SelectListItem> toquillas = ViewBag.toquillas;
    List<SelectListItem> forros = ViewBag.forros;
    List<SelectListItem> barbiquelos = ViewBag.barbiquejos;
    List<SelectListItem> tafiretes = ViewBag.tafiretes;
    var tmp = TempData["toquilla"];
    int toquilla = tmp == null ? 0 : (int)tmp;
    tmp = TempData["forro"];
    int forro = tmp == null ? 0 : (int)tmp;
    tmp = TempData["barbiquejo"];
    int barbiquejo = tmp == null ? 0 : (int)tmp;
    tmp = TempData["tafirete"];
    int tafirete = tmp == null? 0 : (int)tmp;
    tmp = TempData["ojillos"];
    tmp = tmp == null ? false : (bool)tmp;
    int ojillos = (bool)tmp? 1 : 0;
    tmp = TempData["resorte"];
    tmp = tmp == null ? false : (bool)tmp;
    int resorte = (bool)tmp? 1 : 0;
    tmp = TempData["error"];
    string error = tmp == null ? "" : "error";
}

<h1>Editar</h1>

<h4>MaterialEDIT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar" id="form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label">@Html.DisplayNameFor(model => model.id): @Model.id</label>
                <input asp-for="id" type="hidden" class="form-control" />
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idToquilla" class="control-label"></label>
                <select asp-for="idToquilla" asp-items="@toquillas" id="toquilla" class="form-select"></select>
                <span asp-validation-for="idToquilla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idForro" class="control-label"></label>
                <select asp-for="idForro" asp-items="@forros" id="forro" class="form-select"></select>
                <span asp-validation-for="idForro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idBarbiquejo" class="control-label"></label>
                <select asp-for="idBarbiquejo" asp-items="@barbiquelos" id="barbiquejo" class="form-select"></select>
                <span asp-validation-for="idBarbiquejo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idTafirete" class="control-label"></label>
                <select asp-for="idTafirete" asp-items="@tafiretes" id="tafirete" class="form-select"></select>
                <span asp-validation-for="idTafirete" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="ojillos" id="ojillos"/> @Html.DisplayNameFor(model => model.ojillos)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="resorte" id="resorte"/> @Html.DisplayNameFor(model => model.resorte)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/alerts.js"></script>
<script>
        const error = '@error'
    document.addEventListener("DOMContentLoaded", () => {
        const ojillo = @ojillos
        const resorte = @resorte
        console.log(error == '')
        if (error != '') {
            document.getElementById("toquilla").value = @toquilla
            document.getElementById("forro").value = @forro
            document.getElementById("barbiquejo").value = @barbiquejo
            document.getElementById("tafirete").value = @tafirete
            document.getElementById("ojillos").checked = ojillo == 0 ? false : true;
            document.getElementById("resorte").checked = resorte == 0 ? false : true;
            mesanjeError("Error al insertar", "Ya hay un material con esas características")
        }
    })
    const enviar = () => {
        const form = document.getElementById("form")
        confirmacion("Editar barbiquejo", "Desea editar barbiquejo?", "Barbiquejo editado", form)
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
