@model IEnumerable<ProyectoFinal.Clases.Consultas.MaterialCONS>

@{
    ViewData["Title"] = "Index";
    ViewData["Title"] = "Insertar";
    List<SelectListItem> toquillas = ViewBag.toquillas;
    List<SelectListItem> forros = ViewBag.forros;
    List<SelectListItem> barbiquelos = ViewBag.barbiquejos;
    List<SelectListItem> tafiretes = ViewBag.tafiretes;
    int toquilla = ViewBag.toquilla == null ? 0 : ViewBag.toquilla;
    int forro = ViewBag.forro == null ? 0 : ViewBag.forro;
    int barbiquejo = ViewBag.barbiquejo == null ? 0 : ViewBag.barbiquejo;
    int tafirete = ViewBag.tafirete == null ? 0 : ViewBag.tafirete;
    int ojillos = 0;
    int resorte = 0;

    if (ViewBag.ojillos == null)
        ojillos = 0;
    else if (ViewBag.ojillos.ToString() == "False")
        ojillos = 0;
    else if (ViewBag.ojillos.ToString() == "True")
        ojillos = 1;
    else
        ojillos = 0;


    if (ViewBag.resorte == null)
        resorte = 0;
    else if (ViewBag.resorte.ToString() == "False")
        resorte = 0;
    else if (ViewBag.resorte.ToString() == "True")
        resorte = 1;
    else
        resorte = 0;
}

<h1>Index</h1>
<form asp-action="Index" method="post" class="form" id="formBuscar">
    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(model => model.toquilla)</label>
        <select asp-items="@toquillas" name="idToquilla" id="idToquilla"></select>
    </div>
    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(model => model.forro)</label>
        <select asp-items="@forros" name="idForro" id="idForro"></select>
    </div>
    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(model => model.barbiquejo)</label>
        <select asp-items="@barbiquelos" name="idBarbiquejo" id="idBarbiquejo"></select>
    </div>
    <div class="form-group">
        <label class="form-label">@Html.DisplayNameFor(model => model.tafiretes)</label>
        <select asp-items="@tafiretes" name="idTafiretes" id="idTafiretes"></select>
    </div>
    <div class="btn-group">
        <button type="submit" class="btn btn-info">Filtrar</button>
        <button type="button" class="btn btn-secondary" onclick="limpiarMaterial()">Limpiar</button>
    </div>
</form>
<p>
    <a asp-action="Insertar" class="btn btn-success">Insertar</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.toquilla)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.forro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.barbiquejo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tafiretes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ojitos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resorte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.toquilla)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.forro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.barbiquejo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tafiretes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ojitos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.resorte)
                </td>
                <td>
                    <a class="btn btn-light" id="detalles" onclick="detalles(@item.id)">
                        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </a>
                    <a class="btn btn-warning" id="editar" onclick="editar(@item.id)">
                        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    </a>
                    <a class="btn btn-danger" id="eliminar" onclick="eliminar(@item.id)">
                        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Detalles" id="formDetalles" method="post">
    <input type="hidden" name="id" id="idDetalles">
</form>
<form asp-action="Editar" id="formEditar" method="get">
    <input type="hidden" name="id" id="idEditar">
</form>
<form asp-action="Eliminar" id="formEliminar" method="post">
    <input type="hidden" name="id" id="idEliminar">
</form>
<script src="~/js/gestion.js"></script>
<script src="~/js/alerts.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.getElementById('idToquilla').value = @toquilla
        document.getElementById('idForro').value = @forro
        document.getElementById('idBarbiquejo').value = @barbiquejo
        document.getElementById('idTafiretes').value = @tafirete
     })

    const eliminar = (id) => {
        const form = document.getElementById('formEliminar')
        document.getElementById('idEliminar').value = id
        confirmacion("Eliminar material", "Desea eliminar el material?", "Material eliminado", form)
    }

    const limpiarMaterial = () => {
        document.getElementById('idToquilla').value = 0
        document.getElementById('idForro').value = 0
        document.getElementById('idBarbiquejo').value = 0
        document.getElementById('idTafiretes').value = 0
        document.getElementById('formBuscar').submit()
    }
</script>