@model IEnumerable<ProyectoFinal.Clases.Consultas.SimpleCONS>

@{
    ViewData["Title"] = "Index";
}




<head>
    <style>
        table {
            border: 1px solid;
        }

        .separado {
            padding: 16px;
        }

        .h4Editar {
            font-family: 'Slabo 31px', serif;
            font-size: 54px;
            height: 60px;
            text-align: center;
        }

        .titulo {
            margin: 1px -116px;
        }

        .navbar > .container, .navbar > .container-fluid, .navbar > .container-lg, .navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl, .navbar > .container-xxl {
            display: flex;
            flex-wrap: inherit;
            align-items: center;
            margin: -9px 0 -25px 0px;
            background-color: #d4d4d4;
            justify-content: space-between;
        }



    </style>
</head>

<div class="titulo">
    <b>  <h4 class="h4Editar"> Clase</h4></b>
</div>

<hr/>

<p>
   
</p>
<form asp-action="Index" method="post" id="formBuscar" class="row">
    <div class="form-group col-10">
        <label class="form-label">Buscar:</label>
        <input type="text" name="busqueda" id="busqueda" class="form-control" value="@ViewBag.busqueda" />
    </div>
    <div class="btn-group col-2">
        <button type="submit" class="btn btn-info">Filtrar</button>
        <button type="button" class="btn btn-secondary" onclick="limpiar()">Limpiar</button>
    </div>
</form>
<h1 class="separado"></h1>
<p>
    <a asp-action="Insertar" class="btn btn-success">Insertar</a>
</p>
<h1 class="separado"></h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    <a class="btn btn-light" id="detalles" onclick="detalles(@item.id)">
                        <span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
                    </a>
                    <a class="btn btn-warning" id="editar" onclick="editar(@item.id)">
                        <span><i class="fa fa-pencil" aria-hidden="true"></i></span>
                    </a>
                    <a class="btn btn-danger" id="eliminar" onclick="eliminar(@item.id)">
                        <span><i class="fa fa-trash" aria-hidden="true"></i></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="Detalles" id="formDetalles" method="post">
    <input type="hidden" name="id" id="idDetalles">
</form>
<form asp-action="Editar" id="formEditar" method="get">
    <input type="hidden" name="id" id="idEditar">
</form>
<form asp-action="Eliminar" id="formEliminar" method="post">
    <input type="hidden" name="id" id="idEliminar">
</form>
<script src="~/js/gestion.js"></script>
<script src="~/js/alerts.js"></script>
<script>
    const eliminar = (id) => {
        const form = document.getElementById('formEliminar')
        document.getElementById('idEliminar').value = id
        confirmacion("Eliminar clase", "Desea eliminar la clase?", "Clase eliminada", form)
    }
</script>